# Database
DATABASE_URL=postgresql://user:password@localhost:5432/shopba

# Auth
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000

# Monri
MONRI_MERCHANT_KEY=
MONRI_AUTHENTICITY_TOKEN=
MONRI_API_URL=https://ipgtest.monri.com
MONRI_CALLBACK_URL=

# Storage
S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=

# Email
RESEND_API_KEY=
EMAIL_FROM=noreply@shop.ba

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_MONRI_AUTHENTICITY_TOKEN=
