:root{
    --color-orange-primary: #F36A10;
    --color-orange-secondary: #FFB758;
    --color-orange-500: #E5640F;
    --color-orange-400: #F36A10;
    --color-orange-300: #F68F4C;
    --color-orange-200: #F9B487;
    --color-orange-100: #FEF0E6;
    
    --color-white-primary: #FAF8F4;
    --color-white-secondary: #FCEED1;
    --color-white-500: #A3A2A2;
    --color-white-400: #B9B9B9;
    --color-white-300: #D1D0D0;
    --color-white-200: #E7E7E7;
    --color-white-100: #FFFFFF;

    --color-black-primary: #1A1818;
    --color-black-secondary: #2F2E2D;
    --color-black-400: #3C3A3A;
    --color-black-300: #535252;
    --color-black-200: #696868;
    --color-black-100: #8C8B8B;


    --ff-primary: 'Oswald', sans-serif;
    --ff-secondary: 'Heebo', sans-serif;

    --ff-heading:var(--ff-primary);
    --ff-paragraph:var(--ff-secondary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-600: 2.4375rem; /* 50px */
    --fs-500: 1.875rem;
    --fs-400: 1.625rem;
    --fs-300: 1.375rem;
    --fs-200: 1.125rem;
    --fs-100: .9375rem;
    --fs-paragraph: 0.875rem;
    
}

@media (min-width: 960px){
    :root{
        --fs-600: 3.125rem;
        --fs-500: 2.5rem;
        --fs-400: 2.25rem;
        --fs-300: 1.75rem;
        --fs-200: 1.25rem;
        --fs-100: 1.0625rem;
        --fs-paragraph: 1rem;
    }
}

/* Fonts mobile */
.h1-font, .h2-font, .h3-font, .h4-font, .h5-font, .h6-font{
    font-family: var(--ff-heading);
    text-transform: uppercase;
    color: #1A1818;
}
.h1-font{
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-600);
    line-height: 1.32;

}
.h2-font{
    font-weight: var(--fw-medium);
    font-size: var(--fs-500);
    line-height: 1.33;

}
.h3-font{
    font-weight: var(--fw-medium);
    font-size: var(--fs-400);
    line-height: 1.38;

}
.h4-font{
    font-weight: var(--fw-medium);
    font-size: var(--fs-300);
    line-height: 1.45;
}
.h5-font{
    font-weight: var(--fw-medium);
    font-size: var(--fs-200);
    line-height: 1.44;
}
.h6-font{
    font-weight: var(--fw-regular);
    font-size: var(--fs-100);
    line-height: 1.45;
    letter-spacing: 0.0469rem;
}
.p-font{
    font-family: var(--ff-paragraph);
    font-size: var(--fs-paragraph);
    line-height: 1.78;
}

/*Fonts desktop*/
@media (min-width: 960px) {
    .h1-font{
        font-size: 3.125rem;
        line-height: 1.36;
    }
    .h2-font{
        font-size: 2.5rem;
        line-height: 1.3;
    }
    .h3-font{
        font-size: 2.25rem;
        line-height: 1.33;
    }
    .h4-font{
        font-size: 1.75rem;
        line-height: 1.42;
    }
    .h5-font{
        font-size: 1.25rem;
        line-height: 1.5;
    }
    .h6-font{
        font-size: 1.0625rem;
        line-height: 1.58;
        letter-spacing: .0531rem;
    }
    .p-font{
        font-size: 1rem;
        line-height: 1.68;
    }
}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html{
    background-color: var(--color-white-100);
    margin: 0;
    height: 100%;
    
}
body{
    margin: auto;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}




.width-control{
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header{
    background-color: var(--color-white-100);
    position: sticky;
    min-width: 100%;
}
.header-container{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-icon{
        height: 30px;
        width: 30px;
        background-color:#FDE1CF;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

.primary-navigation-left a,
.primary-navigation-right a{
    text-decoration: none;
    color: var(--color-black-primary);
    margin: 1rem;
}
@media (max-width: 900px){
    .header{
        visibility: hidden;
    }
    
    
}
.announcment-bar{
    display: flex;
    height: 36px;
    width: 100%;
    font-weight: var(--fw-medium);
    font-size: 14px;
    color: var(--color-white-100);
    background-color: var(--color-orange-primary);
    align-items: center;
    justify-content: center;
    position: relative;
}

.video-banner-container {
    width: 100%;
    max-height: 760px;
    position:relative;
}
.video-banner-container video {
    min-width: 100%;
    position:relative;
    z-index:0;
}

@media(max-width:900px){
    .video-banner-container video{
        visibility: hidden;
    }
}
.video-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position:absolute;
    overflow: hidden;
    top:0;
    left:0;
    z-index:1;
}

.banner-heading{
    min-width: 100%;
}

.banner-heading p{
    color: var(--color-white-100);
    text-align: center;
}
.banner-buttons-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-family: var(--ff-heading);
    text-transform: uppercase;
    font-size: 15px;
}


.button-container{
    display: flex;
    margin: 1rem;
}

.orange-button-outline{
    color: transparent;
    padding: inherit;
    height: 48px;
    background:none;
    border: 1px solid var(--color-orange-primary);
    border-radius: 24px;
    position:absolute;
    translate: 5% 10%;
    
}
.white-button-outline{
    color: transparent;
    padding: inherit;
    height: 48px;
    min-width: inherit;
    background:none;
    border: 1px solid var(--color-white-100);
    border-radius: 24px;
    position:absolute;
    translate: 5% 10%;
    
    
}

*{
    transition-duration: 300ms;
}  


.orange-button-outline:hover,
.white-button-outline:hover{
    translate: -3% 0%;
    border: 1px solid transparent;
}
.my-button-orange:hover{
    background-color: var(--color-orange-500);
}
.my-button-white:hover{
    background-color: var(--color-white-primary);
}

.my-button-orange{
    height: 48px;
    padding: 25px;
    background-color: var(--color-orange-primary);
    color: var(--color-white-100);
    font-weight: var(--fw-medium);
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.my-button-white{
    height: 48px;
    padding: 25px;
    background-color: var(--color-white-100);
    color: var(--color-black-primary);
    font-weight: var(--fw-medium);
    border-radius: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

main{
    min-height: 100vh;
}

.how-it-works-container{
    background-color: var(--color-white-primary);
    position: relative;
    top: -7px;
    display: grid;
    gap: 2rem;
    grid-template-areas: 
    'heading-how'
    'first-how-icon'
    'first-how-heading'
    'first-how-text'
    'second-how-icon'
    'second-how-heading'
    'second-how-text'
    'third-how-icon'
    'third-how-heading'
    'third-how-text'
    'how-tooltip'
    ;
    padding: 2rem;
    text-align: center;
}
@media(min-width:900px){
    .how-it-works-container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        '... heading-how ...' 
        'first-how-icon second-how-icon third-how-icon'
        'first-how-heading second-how-heading third-how-heading'
        'first-how-text second-how-text third-how-text'
        'how-tooltip how-tooltip how-tooltip';
    }
}



.first-how-icon{
    grid-area: first-how-icon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.second-how-icon{
    grid-area: second-how-icon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.third-how-icon{
    grid-area: third-how-icon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.how-it-works-heading{
    grid-area: heading-how;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.first-how-heading{
    grid-area: first-how-heading;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-orange-primary);
    
}
.second-how-heading{
    grid-area:second-how-heading;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-orange-primary);
}
.third-how-heading{
    grid-area:third-how-heading;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-orange-primary);
}
.first-how-text{
    grid-area: first-how-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.second-how-text{
    grid-area:second-how-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.third-how-text{
    grid-area:third-how-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.how-tooltip{
    grid-area: how-tooltip;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.whats-in-box-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 3% auto 3% auto;
}

.whats-in-box-container p{
    max-width: 650px;
    text-align: center;
}
.whats-in-box-container :nth-child(1){
    color: var(--color-orange-primary);
    
}



/**** BUTTONS **/
.btn-orange{
    padding: 15.5px 30px;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    border-radius: 24px;
    border: none;
    z-index: 1;
    background-color: var(--color-orange-primary);
    color: var(--color-white-100);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
    font-size: 15px;
    
}

.btn-orange::before{
    content:"";
    height: 100%;
    width: 100%;
    border: 1px solid var(--color-orange-primary);
    border-radius: 24px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(4px, 4px);
    transition: transform .15s ease-in-out;
}

.btn-orange:hover{
    background-color: var(--color-orange-500);
}

.btn-orange:hover::before{
    transform: translate(0px, 0px);
}

.btn-white{
    padding: 15.5px 30px;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    border-radius: 24px;
    border: none;
    z-index: 1;
    background-color: var(--color-white-100);
    color: var(--color-black-primary);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
    font-size: 15px;
    
}

.btn-white::before{
    content:"";
    height: 100%;
    width: 100%;
    border: 1px solid var(--color-white-100);
    border-radius: 24px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(4px, 4px);
    transition: transform .15s ease-in-out;
}

.btn-white:hover{
    background-color: var(--color-white-primary);
}

.btn-white:hover::before{
    transform: translate(0px, 0px);
}


